*{
  padding: 0;
  margin: 0;
}

.estiloBody{
  background-color: rgb(47, 47, 47);  
}

/*#########################################################*/
/*Escritorio*/
/*#########################################################*/
@media only screen and (min-width: 1024px){
/*############################################*/
/*GENERAL*/
/*############################################*/
.titulos{
  font:100% monospace;
  font-size: calc(1px + 1.5vw);
  color:rgb(202, 202, 202);
  padding: 1% 0%;
}

.subTitulos{
  font:100% monospace;
  font-size: calc(1px + 1.5vw);
  color:rgb(202, 202, 202);
  padding: 1% 0%;
}

/*############################################*/
/*HOME*/
/*############################################*/

.formatoLetraHome{
  color: rgb(202, 202, 202);
  font-size: calc(1px + 1.3vw);
}

.contenedorPresentacion{
  background-color: rgb(47, 47, 47);

  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  
}

/*CURSOR*/
@keyframes titila {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.titila {
  animation: titila 1s infinite;
}

/*FLECHA A PORTFOLIO*/
.contenedorFlecha{
  position: fixed;
  top: 50%;
  right: 0;
  margin-right: 5%;
  transform: translateY(-50%);

  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.formatoFlecha {
  color: rgb(202, 202, 202);
  font-size: calc(1px + 3vw);
  vertical-align: middle; 
}

.formatoTituloFlecha{
  color: rgb(202, 202, 202);
  font-size: calc(1px + 1.5vw);
  position: absolute;
  right: -4500%;
  transition: right 0.3s ease, font-size 0.3s ease;
  line-height: 3;
  font:100% monospace ;
}

.contenedorFlecha:hover .formatoFlecha {
  font-size: calc(1px + 4vw);
}

.contenedorFlecha:hover .formatoTituloFlecha {
  right: 110%;
  font-size: calc(1px + 2vw);
  line-height: 1.8;
}

/*############################################*/
/*BARRA*/
/*############################################*/
.estiloBarraMenu {
  z-index: 15;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
}

.contenedorIconoMenu{
  display: none;
}

.estiloLista{
  background-color: rgba(8, 103, 136);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.5);
  margin: 0;
}

.itemLista{ 
  padding-left: 1%;
  padding-right: 1%;
}

.estiloLink{
  text-decoration: none;
  color: rgb(202, 202, 202);

  position: relative;
  
  display: inline-block;
  overflow: hidden;

  transition: color 0.3s ease;
}

/*Transformacion*/
.transformacionPalabra{
  transition: transform 0.2s ease-out;
  display: inline-block;
  font-size: calc(5px + 1vw);
}

.transformacionIcono{
  transition: transform 0.2s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);

  font-size: calc(2px + 1.5vw);
}

.estiloLink:hover .transformacionPalabra {
  transform: translateY(100%);
}

.estiloLink:hover .transformacionIcono,
.estiloLink:hover span:last-child {
  transform: translateY(0);
}

/*############################################*/
/*FICHA*/
/*############################################*/
.fichaTecnica{
    box-shadow: 0 0px 5px 1px rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    background-color: rgba(8, 103, 136, 0.5);/*2, 84, 100*/
    width: 25%;
    height: 40%;
    

    position: sticky;
    top: 10vh;
    
    margin: 2% 3% 3% 0%;
    padding-bottom: 1%;
    padding-top: 1%;

    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    align-content: start;   
}

.fichaTecnica img{
    width: 40%;
    height: auto;
    border-radius: 50%;
    border: 5px solid #ECF8F9;
    margin: 2%;
}

.contenedorInfoFicha p{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.iconoInfoFicha{
 margin-right: 5px;
}

.contenedorBotonesFicha{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    align-content: start;
}

.botonFicha{
    width: 50%;
    font-size: calc(6px + 1.5vw);
    padding: 1%;
    margin: 2%;
    border-radius: 20px;
    background-color: #ECF8F9;
    color: rgb(8, 103, 136);/*#025464;*/
    transition:all .5s ease-in-out;
    box-shadow: 0px 0px 5px 1px black;
}

.botonFicha:hover{
    background-color: rgb(47, 47, 47);
    color: #ECF8F9;
}

.fuenteFicha{
  color: rgb(202, 202, 202);
  font-size: calc(1px + 1.3vw);
  font-family: Courier, monospace;
}

.tamanioIcono{
  font-size: calc(4px + 2vw); 
}

/*############################################*/
/*ABOUT*/
/*############################################*/
.containerFichaCuerpo{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;

  box-sizing: border-box;
}

.contenedorAboutSkills{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items:flex-start;
  align-content: stretch;
  box-sizing: border-box;
  width: 62%;
  
}

.contenedorParrafoAbout{
  width: auto;
  height: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.contenedorParrafoAbout p{
  margin: calc(0.5px + 0.5vw);
  padding: 0;
}

.fuenteParrafosAbout{
    font:100% monospace;
    font-size: calc(3px + 1vw);
    margin: calc(0.5px + 0.8vw);    
    color:rgb(202, 202, 202);
}

.contenedorHabilidades{
  height: 100%;
  width: auto;
  padding: 0;
  margin: 0;
  box-sizing:content-box;

}

.contenedorSkills{
  width: 100%;
  height: auto;  
  box-sizing:content-box;
  padding: 0;
  padding-top: 3%; 
  margin: 0; 
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15% 5%;
}

.imagenLogos{
  box-sizing:content-box;
  width: calc(20px + 4vw);
  height: auto;
  padding: 0px;
  margin: 0px;

}

/*############################################*/
/*PROYECTOS*/
/*############################################*/
.contenedorProyectos{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items:flex-start;
  align-content: stretch;
  box-sizing: border-box;
  width: 62%;
  margin-top: 1%;
}

.proyetosGrid{
  padding: 0;
  margin: 0;
  margin-bottom: 3%; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0% 3%;
}

.tarjetaProyectos{
  padding-bottom: 4%;
  margin: 0;

  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.tarjetaProyectos:hover .textoTarjetaProyectos {
  opacity: 1;
}

.imagenTarjetaProyectos{
  width:100%;
  height:auto;

  transition: filter 0.3s ease;
}

.imagenTarjetaProyectos:hover {
  filter: brightness(40%);
}

.textoTarjetaProyectos{
  text-align: center;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tecnologiasSpan{
  min-width: calc(10px + 4vw);
  text-align: center; 
  display: inline-block;
  color: rgb(202, 202, 202);
  font-family: 100% monospace;
  background-color: rgb(8, 103, 136);
  box-shadow: 0 0px 5px 1px rgba(255, 255, 255, 0.5);
  margin: 3%;  
  border-radius: 5px;
  padding: 2% 4%; 
  border-radius: 5px;
}

.tituloTarjetaProyectos{
  text-align: center;
  font:100% monospace;
  font-size: calc(3px + 1vw);
  color:rgb(202, 202, 202);
  margin: 0;
}

/*############################################*/
/*EXPERIENCIA*/
/*############################################*/
.cuerpoExperiencia{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items:flex-start;
  align-content: stretch;
  box-sizing: border-box;
  width: 62%;
  margin-top: 1%;
}

.contenedorInicioExpe{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.articuloTrabajo{
  background-color:rgba(8, 103, 136, 0.2);
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0px 0px 5px 1px rgb(202, 202, 202);
  margin-bottom: 2%;
}

.estiloListaTrabajo{
  padding-left: 5%;
}

/*LETRAS*/
.letraPuestoTrabajo{
  font-family: monospace, sans-serif;
  font-size: calc(6px + 0.8vw);
  font-weight: bold;
  color: rgb(202, 202, 202);
}

.letraTrabajoCursiva{
  font-family: monospace, sans-serif;
  font-size: calc(6px + 0.6vw);
  font-weight: bold; 
  font-style: italic; 
  color: rgb(202, 202, 202);  
}

.letraTrabajo{
  font-family: monospace, sans-serif;
  font-size: calc(6px + 0.6vw);
  font-weight: bold;
  color: rgb(202, 202, 202);
}

/*OTRAS EXPERIENCIAS*/
.contenedorTituloIconoExp{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1%;
}

.estiloBotonExpandible{
  margin-left: calc(6px + 0.6vw);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.estiloIconoBotonExp{
  color: rgb(202, 202, 202);
  font-size: calc(1px + 1.5vw); 
}

/*EDUCACION*/
.marginEducacion{
  margin-left: calc(1px + 1.5vw);
}

.contenedorGridCursos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0% 3%;
}

.imagenCursos{
  width: 50%;
  height: auto;
  box-shadow: 0px 0px 5px 1px black;
  border-radius: 3%;
  margin-bottom: 0%;
  cursor: pointer;
}

.imagenCursos:hover{
  -webkit-transform:scale(1.1);
  transform:scale(1.1); 
}

/*GALERIA*/
.contenedorGaleria{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /*transition: .5s;*/
}

.imagenGaleria{
    width: 60%;
    height: auto;
}

.botonGaleria{
  position: absolute;
  top: 5%;
  right: 15%;
  font-size: calc(6px + 2vw);
  padding: 0;
  line-height: 0;
}

.contenedorArticuloCursos{
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.contenedorArticuloCursos p{
  padding-top: 2%;
  padding-bottom: 2%;
}

.cursoLetra{
  font-size: calc(3px + 1vw);
  color: rgb(202, 202, 202);
  font-family: Courier, monospace;
}

}

/*#########################################################*/
/*Tablet*/
/*#########################################################*/
@media only screen and (min-width: 767px) and (max-width: 1024px){
.titulos{
  font:100% monospace;
  font-size: calc(3px + 2vw);
  color:rgb(202, 202, 202);
  padding: 1% 0%;
}

.subTitulos{
  font:100% monospace;
  font-size: calc(3px + 1.5vw);
  color:rgb(202, 202, 202);
  padding: 1% 0%;
}

/*############################################*/
/*HOME*/
/*############################################*/

.formatoLetraHome{
  color: rgb(202, 202, 202);
  font-size: calc(2px + 1.5vw);
}

.contenedorPresentacion{
  background-color: rgb(47, 47, 47);

  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  
}

/*CURSOR*/
@keyframes titila {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.titila {
  animation: titila 1s infinite;
}

/*FLECHA A PORTFOLIO*/
.contenedorFlecha{
  position: fixed;
  top: 50%;
  right: 0;
  margin-right: 5%;
  transform: translateY(-50%);

  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.formatoFlecha {
  color: rgb(202, 202, 202);
  font-size: calc(1px + 3vw);
  vertical-align: middle; 
}

.formatoTituloFlecha{
  color: rgb(202, 202, 202);
  font-size: calc(1px + 1.5vw);
  position: absolute;
  right: -4500%;
  transition: right 0.3s ease, font-size 0.3s ease;
  line-height: 3;
  font:100% monospace ;
}

.contenedorFlecha:hover .formatoFlecha {
  font-size: calc(1px + 4vw);
}

.contenedorFlecha:hover .formatoTituloFlecha {
  right: 110%;
  font-size: calc(1px + 2vw);
  line-height: 1.8;
}
/*############################################*/
/*BARRA*/
/*############################################*/
.estiloBarraMenu{
  position: sticky;
  top: 0;
  background-color: red;
  
}

.estiloBarraMenu:active{
  z-index: 998;
}

.contenedorIconoMenu{
  z-index: 999;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  top: 1rem; /* Posición en la parte superior */
  right: 1rem; /* Posición a la derecha */
  left: 90%;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;

  padding: 2%;
  border-radius: 50%;  
}

.contenedorIconoMenu span{
  background-color: rgb(202, 202, 202);
  width: 100%;
  height: 2px;
  transform-origin: 0px 100%;
  transition: all 400ms;
  cursor: pointer;
  
}

.contenedorIconoMenu.cruz span:nth-child(1) {
  transform: rotate(45deg) translate(-2px, 1px);
}

.contenedorIconoMenu.cruz span:nth-child(2) {
  opacity: 0;
  margin-right: 30%;
}

.contenedorIconoMenu.cruz span:nth-child(3) {
  transform: rotate(-45deg) translate(-2px, -1px);
}

.estiloLista{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  background-color: #025464;
  position: fixed;
  top: 0;
  list-style: none;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.5);
  margin: 0;  
}

.estiloLista.activo {
  transform: translateY(0);
  z-index: 998;
}

.itemLista {
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 1rem;
}

.estiloLink{
  text-decoration: none;
  color: rgb(202, 202, 202);

  position: relative;
  display: inline-block;
  overflow: hidden;

  transition: color 0.3s ease;
}
.transformacionPalabra{
  transition: transform 0.2s ease-out;
  display: inline-block;
  font-size: calc(2px + 2vw);
}

.transformacionIcono{
  transition: transform 0.2s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);

  font-size: calc(2px + 2vw);
}

.estiloLink:hover .transformacionPalabra {
  transform: translateY(100%);
}

.estiloLink:hover .transformacionIcono,
.estiloLink:hover span:last-child {
  transform: translateY(0);
}

.estiloLista li{
  padding-top: 3%;
  padding-bottom: 3%;
}

/*############################################*/
/*FICHA TECNICA*/
/*############################################*/
.fichaTecnica {
  background-color: rgba(8, 103, 136, 0.5);
  box-shadow: 0 0px 5px 1px rgba(255, 255, 255, 0.5);
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  border-radius: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  align-content: start; 
  
  
}
.fichaTecnica img{
  width: 15%;
  height: auto;

  border-radius: 50%;
  border: 5px solid #ECF8F9;
  margin: 2%;
}

.contenedorInfoFicha p{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.iconoInfoFicha{
 margin-right: 5px;
}

.fuenteFicha{
  color: rgb(202, 202, 202);
  font-size: calc(10px + 1vw);
  font-family: Courier, monospace;
}

.contenedorBotonesFicha{
  width: 100%;
  height: auto;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  align-content: start;
}

.botonFicha{
    
  width: 50%;
  font-size: calc(6px + 1.5vw);
  padding: 1%;
  margin: 2%;
  border-radius: 20px;
  background-color: #ECF8F9;
  color: #025464;
  transition:all .5s ease-in-out;
  box-shadow: 0px 0px 5px 1px black;
}

.botonFicha:hover{
    background-color: rgb(47, 47, 47);
    color: #ECF8F9;
}

.tamanioIcono{
  font-size: calc(4px + 3vw);
}

/*############################################*/
/*ABOUT*/
/*############################################*/
.contenedorAboutSkills{
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.contenedorParrafoAbout,
.contenedorHabilidades {
  width: 100%;
}

.contenedorParrafoAbout{
  width: auto;
  height: auto;
  padding: 0% 0% 3% 0%;
}

.fuenteParrafosAbout{
  font:100% monospace;
  font-size: calc(4px + 1.2vw);
  padding: 1%;
  color:rgb(202, 202, 202);
}

.contenedorSkills{
  width: 100%;
  padding-left: 2%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  
}

.imagenLogos{
    width: 60%;
    height: auto;
    padding: 5% 0%;
}

/*############################################*/
/*PROYECTOS*/
/*############################################*/
.contenedorProyectos{
  display: flex;
  flex-direction: column;
 
  box-sizing: border-box;
  
}

.proyetosGrid{
  padding: 0;
  margin: 0;
  margin-bottom: 3%; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0% 3%;
}

.tarjetaProyectos{
  padding-bottom: 4%;
  margin: 0;
}

.tarjetaProyectos a{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  text-decoration: none;
}

.tarjetaProyectos h1{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal
}

.imagenTarjetaProyectos{
  width:70%;
  height:auto;
}

.textoTarjetaProyectos{
  text-align: start;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  text-decoration: none;

  margin-top: 1rem;
}

.tecnologiasSpan{
  min-width: calc(10px + 4vw);
  text-align: center; 
  display: inline-block;
  color: rgb(202, 202, 202);
  font-family: 100% monospace;
  background-color: rgb(8, 103, 136);
  box-shadow: 0 0px 5px 1px rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  padding: 0.3rem 0.8rem;
  margin: 0.3rem;
}

.tituloTarjetaProyectos{
  text-align: start;
  font: 100% monospace;
  font-size: calc(8px + 1vw);
  color:rgb(202, 202, 202);
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
}

.paddinResponsive{
  padding: 3%;
}

/*############################################*/
/*EXPERIENCIA*/
/*############################################*/
.cuerpoExperiencia{
  box-sizing: border-box;
  margin-left: 5%;  
}

.contenedorInicioExpe{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.articuloTrabajo{
  background-color:rgba(8, 103, 136, 0.2);
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0px 0px 5px 1px rgb(202, 202, 202);
  margin-bottom: 2%;
  width: 70%;
  /*margin-left: 5%;*/
}

.estiloListaTrabajo{
  padding-left: 5%;
}

/*LETRAS*/
.letraPuestoTrabajo{
  font-family: monospace, sans-serif;
  font-size: calc(6px + 1.2vw);
  font-weight: bold;
  color: rgb(202, 202, 202);
}

.letraTrabajoCursiva{
  font-family: monospace, sans-serif;
  font-size: calc(6px + 0.8vw);
  font-weight: bold; 
  font-style: italic; 
  color: rgb(202, 202, 202);  
}

.letraTrabajo{
  font-family: monospace, sans-serif;
  font-size: calc(6px + 0.8vw);
  font-weight: bold;
  color: rgb(202, 202, 202);
}

/*OTRAS EXPERIENCIAS*/
.contenedorTituloIconoExp{
  display: flex;
  flex-direction: row;
  width: 70%;
 margin-top: 2%;
  margin-bottom: 3%;
  
  margin-left: 5%; 
}

.estiloBotonExpandible{
  margin-left: calc(6px + 0.6vw);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.estiloIconoBotonExp{
  color: rgb(202, 202, 202);
  font-size: calc(2px + 2vw); 
}

/*############################################*/
/*EDUCACION*/
/*############################################*/
.marginEducacion{
  margin-left: calc(20px + 1.5vw);
}

.contenedorGridCursos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0% 3%;
}

.imagenCursos{
  width: 70%;
  height: auto;
  box-shadow: 0px 0px 5px 1px black;
  border-radius: 3%;
  margin-bottom: 0%;
  cursor: pointer;
}

.imagenCursos:hover{
  -webkit-transform:scale(1.1);
  transform:scale(1.1); 
}

/*GALERIA*/
.contenedorGaleria{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /*transition: .5s;*/
}

.imagenGaleria{
    width: 80%;
    height: auto;
}

.botonGaleria{
  position: absolute;
  top: 5%;
  right: 15%;
  font-size: calc(6px + 2vw);
  padding: 0;
  line-height: 0;
}

.contenedorArticuloCursos{
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.contenedorArticuloCursos p{
  padding-top: 2%;
  padding-bottom: 2%;
}

.cursoLetra{
  font-size: calc(3px + 1.5vw);
  color: rgb(202, 202, 202);
  font-family: Courier, monospace;
}

}

/*##################################################################################################################*/
/*Celular*/
/*##################################################################################################################*/
@media only screen and (max-width: 767px){
  .titulos{
  font:100% monospace;
  font-size: calc(6px + 2.5vw);
  color:rgb(202, 202, 202);
  padding: 1% 0%;
}

.subTitulos{
  font:100% monospace;
  font-size: calc(5px + 2vw);
  color:rgb(202, 202, 202);
  padding: 1% 0%;
}

/*############################################*/
/*HOME*/
/*############################################*/

.formatoLetraHome{
  color: rgb(202, 202, 202);
  font-size: calc(3px + 1.8vw);
}

.contenedorPresentacion{
  background-color: rgb(47, 47, 47);

  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  
}

/*CURSOR*/
@keyframes titila {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.titila {
  animation: titila 1s infinite;
}

/*FLECHA A PORTFOLIO*/
.contenedorFlecha{
  position: fixed;
  top: 50%;
  right: 0;
  margin-right: 5%;
  transform: translateY(-50%);

  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.formatoFlecha {
  color: rgb(202, 202, 202);
  font-size: calc(4px + 5vw);
  vertical-align: middle; 
}

.formatoTituloFlecha{
  color: rgb(202, 202, 202);
  font-size: calc(1px + 1.5vw);
  position: absolute;
  right: -4500%;
  transition: right 0.3s ease, font-size 0.3s ease;
  line-height: 3;
  font:100% monospace ;
}

.contenedorFlecha:hover .formatoFlecha {
  font-size: calc(1px + 4vw);
}

.contenedorFlecha:hover .formatoTituloFlecha {
  right: 110%;
  font-size: calc(1px + 2vw);
  line-height: 1.8;
}
/*############################################*/
/*BARRA*/
/*############################################*/
.estiloBarraMenu{
  position: sticky;
  top: 0;
  background-color: red;
  
}

.estiloBarraMenu:active{
  z-index: 998;
}

.contenedorIconoMenu{
  z-index: 999;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  top: 1rem; /* Posición en la parte superior */
  right: 1rem; /* Posición a la derecha */
  left: 90%;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;

  padding: 2%;
  border-radius: 50%;  
}

.contenedorIconoMenu span{
  background-color: rgb(202, 202, 202);
  width: 100%;
  height: 2px;
  transform-origin: 0px 100%;
  transition: all 400ms;
  cursor: pointer;
  
}

.contenedorIconoMenu.cruz span:nth-child(1) {
  transform: rotate(45deg) translate(-2px, 1px);
}

.contenedorIconoMenu.cruz span:nth-child(2) {
  opacity: 0;
  margin-right: 30%;
}

.contenedorIconoMenu.cruz span:nth-child(3) {
  transform: rotate(-45deg) translate(-2px, -1px);
}

.estiloLista{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  background-color: #025464;
  position: fixed;
  top: 0;
  list-style: none;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.5);
  margin: 0;  
}

.estiloLista.activo {
  transform: translateY(0);
  z-index: 998;
}

.itemLista {
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 1rem;
}

.estiloLink{
  text-decoration: none;
  color: rgb(202, 202, 202);

  position: relative;
  display: inline-block;
  overflow: hidden;

  transition: color 0.3s ease;
}
.transformacionPalabra{
  transition: transform 0.2s ease-out;
  display: inline-block;
  font-size: calc(5px + 4vw);
}

.transformacionIcono{
  transition: transform 0.2s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);

  font-size: calc(5px + 4vw);
}

.estiloLink:hover .transformacionPalabra {
  transform: translateY(100%);
}

.estiloLink:hover .transformacionIcono,
.estiloLink:hover span:last-child {
  transform: translateY(0);
}

.estiloLista li{
  padding-top: 3%;
  padding-bottom: 3%;
}

/*############################################*/
/*FICHA TECNICA*/
/*############################################*/
.fichaTecnica {
  background-color: rgba(8, 103, 136, 0.5);
  box-shadow: 0 0px 5px 1px rgba(255, 255, 255, 0.5);
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  border-radius: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  align-content: start; 
  
  
}
.fichaTecnica img{
  width: 40%;
  height: auto;

  border-radius: 50%;
  border: 4px solid #ECF8F9;
  margin: 2%;
}

.contenedorInfoFicha p{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.iconoInfoFicha{
 margin-right: 5px;
}

.fuenteFicha{
  color: rgb(202, 202, 202);
  font-size: calc(10px + 2vw);
  font-family: Courier, monospace;
}

.contenedorBotonesFicha{
  width: 100%;
  height: auto;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  align-content: start;
}

.botonFicha{
    
  width: 50%;
  font-size: calc(6px + 2vw);
  padding: 2%;
  margin: 3%;
  border-radius: 20px;
  background-color: #ECF8F9;
  color: #025464;
  transition:all .5s ease-in-out;
  box-shadow: 0px 0px 5px 1px black;
}

.botonFicha:hover{
    background-color: rgb(47, 47, 47);
    color: #ECF8F9;
}

.tamanioIcono{
  font-size: calc(4px + 6vw);
}

/*############################################*/
/*ABOUT*/
/*############################################*/
.contenedorAboutSkills{
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.contenedorParrafoAbout,
.contenedorHabilidades {
  width: 100%;
}

.contenedorParrafoAbout{
  width: auto;
  height: auto;
  padding: 0% 0% 3% 0%;
}

.fuenteParrafosAbout{
  font:100% monospace;
  font-size: calc(3px + 3vw);
  padding: 1%;
  color:rgb(202, 202, 202);
}

.contenedorSkills{
  width: 100%;
  padding-left: 2%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
}

.imagenLogos{
    width: 60%;
    height: auto;
    padding: 5% 0%;
}

/*############################################*/
/*PROYECTOS*/
/*############################################*/
.contenedorProyectos{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.proyetosGrid{
  padding: 0;
  margin: 0;
  margin-bottom: 3%; 
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0% 3%;
}

.tarjetaProyectos{
  padding-bottom: 4%;
  margin: 0;
}

.tarjetaProyectos a{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  text-decoration: none;
}

.tarjetaProyectos h1{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal
}

.imagenTarjetaProyectos{
  width:70%;
  height:auto;
}

.textoTarjetaProyectos{
  text-align: start;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  text-decoration: none;

  margin-top: 1rem;
}

.tecnologiasSpan{
  min-width: calc(10px + 4vw);
  text-align: center; 
  display: inline-block;
  color: rgb(202, 202, 202);
  font-family: 100% monospace;
  background-color: rgb(8, 103, 136);
  box-shadow: 0 0px 5px 1px rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  padding: 0.3rem 0.8rem;
  margin: 0.3rem;
}

.tituloTarjetaProyectos{
  text-align: start;
  font: 100% monospace;
  font-size: calc(8px + 2vw);
  color:rgb(202, 202, 202);
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
}

.paddinResponsive{
  padding: 3%;
}

/*############################################*/
/*EXPERIENCIA*/
/*############################################*/
.cuerpoExperiencia{
  box-sizing: border-box;
  margin-left: 5%;  
}

.contenedorInicioExpe{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.articuloTrabajo{
  background-color:rgba(8, 103, 136, 0.2);
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0px 0px 5px 1px rgb(202, 202, 202);
  margin-bottom: 2%;
  width: 90%;
  /*margin-left: 5%;*/
}

.estiloListaTrabajo{
  padding-left: 5%;
}

/*LETRAS*/
.letraPuestoTrabajo{
  font-family: monospace, sans-serif;
  font-size: calc(6px + 2vw);
  font-weight: bold;
  color: rgb(202, 202, 202);
}

.letraTrabajoCursiva{
  font-family: monospace, sans-serif;
  font-size: calc(6px + 1.8vw);
  font-weight: bold; 
  font-style: italic; 
  color: rgb(202, 202, 202);  
}

.letraTrabajo{
  font-family: monospace, sans-serif;
  font-size: calc(6px + 1.8vw);
  font-weight: bold;
  color: rgb(202, 202, 202);
}

/*OTRAS EXPERIENCIAS*/
.contenedorTituloIconoExp{
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-top: 2%;
  margin-bottom: 3%;
  
  margin-left: 5%; 
}

.estiloBotonExpandible{
  margin-left: calc(6px + 0.6vw);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.estiloIconoBotonExp{
  color: rgb(202, 202, 202);
  font-size: calc(2px + 5vw); 
}

/*############################################*/
/*EDUCACION*/
/*############################################*/
.marginEducacion{
  margin-left: calc(20px + 1.5vw);
}

.contenedorGridCursos{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0% 3%;
}

.imagenCursos{
  width: 70%;
  height: auto;
  box-shadow: 0px 0px 5px 1px black;
  border-radius: 3%;
  margin-bottom: 0%;
  cursor: pointer;
}

/*GALERIA*/
.contenedorGaleria{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /*transition: .5s;*/
}

.imagenGaleria{
    width: 80%;
    height: auto;
}

.botonGaleria{
  position: absolute;
  top: 5%;
  right: 15%;
  font-size: calc(6px + 3vw);
  padding: 0;
  line-height: 0;
}

.contenedorArticuloCursos{
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.contenedorArticuloCursos p{
  padding-top: 2%;
  padding-bottom: 2%;
}

.cursoLetra{
  font-size: calc(5px + 2.5vw);
  color: rgb(202, 202, 202);
  font-family: Courier, monospace;
}

}